*{
    margin: 0;
    padding: 0;

}

.logo
{
    width: 300px;
    height: 200px;
}
header>p{
    font-size: 30px ;
}
.navbar{
    background-image: linear-gradient(#ffffff, rgb(255, 104, 3) 80%);
}
.navbar> ul{
    display: flex;
    gap:20px;
    list-style-type: none;
    padding-left: 0;
    
}
.Home{
    text-decoration: none;
}
.Loc{
    text-decoration: none;
}
.Category{
    text-decoration: none;
}
.search-box{
    float: right;
}
.search-box button {
    height: 32px;
    width: 32px;
    margin-left: -5px;
    background: LightGrey;
    font-size: 17px;
    border: none;
    margin-top: 14px;
    margin-right: 16px;
}
.p2{
    border-radius: 50%;
    font-size: 40px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}	
.search-box input[type=text] {
    height: 26px;
    font-size: 17px;
    width: 200px;
    margin-top: 14px;
}
body{
    background-image: linear-gradient(#ff4b04bb, white 80%);
    background-repeat: no-repeat;
}
